为了使用 OpenSSL 函数，你需要去看装 OpenSSL 库。PHP 5 最低需要 OpenSSL >= 0.9.6。但是后面的 PHP 5 版本有一些编译问题，至少应该与
OpenSSL >= 0.9.8 一起使用，这也是 PHP 7.0 的最小版本。其他版本（PHP >= 7.1.0）要求 OpenSSL >= 1.0.1。

警告 强烈建议你使用最新的 OpenSSL 版本，否则你的 web 服务器很容易受到攻击。
